body {
	/*background:  #BCC6CC;*/
	background-image: url("../images/base-background.jpg");
}

.container {
	width: 60%;
	margin-top: 100px;
}

.jumbotron {
	/*margin-top: 100px;*/
}

#info-side {
	margin-top: 50px;
}

.panel-body {
	color: black;
}

#hangman-pic {
	height: 200px;
	width: 200px;
}

#footer {
	margin-top: 150px;
}


/*classes added through javascript*/
.gameContainer {
	background: #25383C;
	color: white;
	border-radius: 25px;
	border: 3px solid white;
}

.space {
	margin-left: 10px;
}

.Heroes {
	background-image: url("../images/heroes-background.jpg");
}

.Villains {
	background-image: url("../images/villain-background-2.jpg");
	/*background-size: cover;*/
}

.Planets {
	background-image: url("../images/space-background.jpg");
	background-size: cover;
}

.Countries {
	background-image: url("../images/countries-background.jpg");
	background-size: cover;
}

