body {
	background:  #BCC6CC;
}

.container {
	width: 70%;
	margin-top: 100px;
}

.jumbotron {
	/*margin-top: 100px;*/
}

#info-side {
	margin-top: 50px;
}

.panel-body {
	color: black;
}

#hangman-pic {
	height: 200px;
	width: 200px;
}

#footer {
	margin-top: 300px;
}


/*classes added through javascript*/
.gameContainer {
	background: #25383C;
	color: white;
	border-radius: 25px;
	border: 3px solid white;
}

.space {
	margin-left: 10px;
}

.heroes {
	background-image: url("../images/hero-background.jpg");
}

.countries {
	background: lightblue;
}

